## Instituto Tecnológico de Costa Rica
## Escuela de Ingeniería Electrónica
## Maestría en Electrónica
## MP-6122 Reconocimiento de Patrones
## Investigación Corta 2 - Aprendizaje Supervisado
## Douglas Mora Ceciliano
#
### Escogiendo un set de datos:
Para esta investigacion se eligio el set de datos openpowerlifting.csv
Dado su gran tamaño se procede a limpiarlo un poco en Excel previamente se procede a eliminar las columnas que no siguen las reglas estandar: Deadlift4Kg, Bench4Kg, Squat4Kg

Fuente: https://www.kaggle.com/open-powerlifting/powerlifting-database/downloads/powerlifting-database.zip/2#openpowerlifting.csv

El archivo resultante se encuentra en este Github, el mismo se carga a continuacion:

In [160]:
import numpy as np
import pandas as pd
Frame=pd.read_csv('openpowerlifting.csv')

### Etapa de preprocesado

Con el fin de obtener mejores resultados se procede a preprocesar los datos

#### Determinando tamaño del set de datos
A continuacion se utiliza la funcion shape() para determinar el tamaño de nuestro set de datos.

In [161]:
print (' Filas Columnas')
print (Frame.shape)

 Filas Columnas
(509376, 32)

### Seleccionando los Features

Utilizaremos el codigo head para determinar el nombre de las columnas en nuestro set.

In [162]:
Frame.head()

,Name,Sex,Event,Equipment,Age,AgeClass,Division,BodyweightKg,WeightClassKg,Squat1Kg,...,Place,Wilks,McCulloch,Glossbrenner,IPFPoints,Tested,Federation,Date,MeetCountry,MeetName
0,Daniel McGauley,M,SBD,Raw,NaN,NaN,MR-O,56.1,59,100.0,...,1,286.26,286.26,279.89,383.49,Yes,EPA,4/20/2019,UK,South Midlands Spring Open
1,Rod Ramsey,M,SBD,Raw,NaN,NaN,MR-O,65.7,66,152.5,...,1,396.05,396.05,384.50,579.47,Yes,EPA,4/20/2019,UK,South Midlands Spring Open
2,Terry Martin,M,SBD,Raw,NaN,NaN,MR-O,73.6,74,215.0,...,1,435.06,435.06,421.02,652.83,Yes,EPA,4/20/2019,UK,South Midlands Spring Open
3,Geoff Erzan-Essien,M,SBD,Raw,NaN,NaN,MR-O,76.0,83,135.0,...,1,285.96,285.96,276.54,400.88,Yes,EPA,4/20/2019,UK,South Midlands Spring Open
4,Jason Coultman,M,SBD,Raw,28.5,24-34,MR-O,96.3,105,217.5,...,1,415.79,415.79,400.03,615.97,Yes,EPA,4/20/2019,UK,South Midlands Spring Open

Como se puede observar contamos con un ser de varios datos, pero cual seria una salida interesante de averiguar?
Para este caso se buscara saber si en base a una serie de variables logramos predecir el exito o fracaso para levantar el siguiente peso. Para ello solo utilizaremos el primer ejercicio (Squat).

Para ello seleccionaremos columnas especificas para utilizar como se muestra a continuacion

In [163]:
cols2use=['Sex','Equipment','Age','BodyweightKg','Squat1Kg','Squat2Kg','Squat3Kg']

In [164]:
Frame=Frame[cols2use]
Frame.head()

  Sex Equipment   Age  BodyweightKg  Squat1Kg  Squat2Kg  Squat3Kg
0   M       Raw   NaN          56.1     100.0     110.0     120.0
1   M       Raw   NaN          65.7     152.5     162.5     170.0
2   M       Raw   NaN          73.6     215.0    -225.0    -225.0
3   M       Raw   NaN          76.0     135.0     140.0     150.0
4   M       Raw  28.5          96.3     217.5     225.0     232.5

Estos son entonces los datos de interes, posteriormente se agregaran mas en base a estos mismos. Pero primero se trabajaran un poco mas.

#### Limpiando Nulls
Utilizando el siguiente codigo buscaremos identificar si hay algún valor nulo en el set.

In [165]:
print('Identificacion de cantidad de valores nulos')
nNULL=Frame.isnull().sum()
print(nNULL)

Identificacion de cantidad de valores nulos
Sex               4214
Equipment         4214
Age             183964
BodyweightKg      4663
Squat1Kg        335150
Squat2Kg        337012
Squat3Kg        341101
dtype: int64

Una vez identificados se procede a eliminar dichos valores nulos

In [166]:
Frame=Frame.dropna()
nNULL=Frame.isnull().sum()
print(nNULL)

Sex             0
Equipment       0
Age             0
BodyweightKg    0
Squat1Kg        0
Squat2Kg        0
Squat3Kg        0
dtype: int64

Este procedimiento nos deja con una cantidad bastante menor de datos. Normalmente Eliminar los valores nulos no deberia ser la primera opcion pero tomando en cuenta el gran numero de datos se decido utilizarla.

In [167]:
print (' Filas Columnas')
print (Frame.shape)

 Filas Columnas
(149291, 7)

Nos quedamos entonces con aproximadamente 149 mil lineas. que representan la seccion de la poblacion para la cual conocemos todos los datos de interes.

#### Definiendo Features y Labels

Una parte fundamental del Aprendizaje supervisado es definir los Features de los Labels. Los primeros son tanto las entradas que utilizamos para probar como para testear nuestro sistema. Mientras que los segundos se usan para entrenar y evaluar el sistema.

Como se menciono anteriormente la idea sera determinar si es posible predecir el exito en el levantamiento 3 basados en un grupo de entradas.

Sexo: Es evidente que por un factor biologico los hombres pueden llegar a levantar mas peso que las mujeres suponiendo igualdad de condiciones por lo que este factor sera tomado en cuenta. Se utilizara 1 para Hombre y 0 para Mujer.

In [168]:
Frame['Sex']=Frame['Sex'].replace({'M':1,'F':0})

Equipo: Parte de la hipotesis es que ciertos equipos pueden afectar el desempeño. Se usara Raw=0, Wraps=1, Multi-ply=2, Single-ply=3

In [169]:
Frame['Equipment']=Frame['Equipment'].replace({'Raw':0, 'Wraps':1, 'Multi-ply':2, 'Single-ply':3})

Edad: La edad es un factor que tambien sera tomado en cuenta. Se supone que un niño o adulto mayor no contaran con la capacidad fisica que un adulto en sus 20-30 años. Denuevo suponiendo igualdad de condiciones.

Peso: Se estima que el peso corporal debe estar relacionado con la cantidad de peso que se puede levantar.

Exito en Squat 1: Se tuvo exito en el levantamiento 1. 1 es un Exito y 0 es un Fallo.

In [170]:
Frame['Success1']=Frame['Squat1Kg'].apply(lambda x: 1 if x>=0 else 0)

Squat1: Cantidad de peso levantado en el primer squat (Se aplica valor absoluto para separar el valor levantado del signo que era la representacion del exito o el fracaso)

In [171]:
Frame['Squat1Kg']=Frame['Squat1Kg'].abs()

Se hace lo mismo con el Squat2 y Squat3

In [172]:
Frame['Success2']=Frame['Squat2Kg'].apply(lambda x: 1 if x>=0 else 0)
Frame['Squat2Kg']=Frame['Squat2Kg'].abs()
Frame['Success3']=Frame['Squat3Kg'].apply(lambda x: 1 if x>=0 else 0)
Frame['Squat3Kg']=Frame['Squat3Kg'].abs()

El resultado se observa a continuacion:

In [173]:
Frame.head()

,Sex,Equipment,Age,BodyweightKg,Squat1Kg,Squat2Kg,Squat3Kg,Success1,Success2,Success3
4,1,0,28.5,96.3,217.5,225.0,232.5,1,1,1
11,1,0,34.5,119.7,295.0,315.0,330.0,1,1,0
12,0,0,26.5,56.5,140.0,147.5,152.5,1,1,1
54,0,0,22.0,51.0,80.0,85.0,90.0,1,1,1
55,0,0,26.0,66.0,90.0,95.0,100.0,1,1,1

Se selecciona entonces los Features de interes.

In [175]:
Features = Frame[['Sex','Equipment','Age','BodyweightKg','Squat1Kg','Success1','Squat2Kg','Success2','Squat3Kg']]

El Label sera la caracteristica a predecir.

In [176]:
Label = Frame['Success3']

### Analisis a partir de multiples metodos supervisados:

Se escogieron 6 metodos de aprendizaje supervisado. Para comparar sus propiedades a continuacion se muestran los resultados obtenidos para cada uno de ellos.

Antes de entrar en materia es importante comentar una caracteristica particular de este tipo de metodos es que se requiere un grupo de datos para entrenar y un grupo de datos para Testear que el entrenamiento se ha llevado a cabo con exito. Para ello utilizaremos la siguiente instruccion:

In [177]:
from sklearn.model_selection import train_test_split

Separaremos entonces nuestros features y labels en dos grupos uno de test y uno de train

In [178]:
X_train, X_test, Y_train, Y_test = train_test_split(Features, Label, random_state=27)

In [182]:
from sklearn.tree import DecisionTreeClassifier

In [183]:
DecisionTreeModel = DecisionTreeClassifier(max_depth=3)

In [184]:
DecisionTreeModel.fit(X_train,Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')